body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(255, 172, 172);
}

img {
    width: 400px;
    height: 300px;
    margin: auto;
    border-radius: 8px;
}